:root {
  --primary-color: #5e784b;
  --secondary-color: #F5F2FE;
}

body {
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 96px;
  margin: 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 48px;
  margin: 0;
}

p {
  text-align: center;
  border: 1px solid var(--secondary-color);
  max-width: 300px;
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: var(--secondary-color);
  font-size: 20px;
}

.paragraphs {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.email {
  font-size: 28px;
  text-decoration: none;
  color: blueviolet;
}

.email:hover {
  text-decoration: underline;
}